.container {
    background-color: #33907C;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.textContainer {
    width: 100%;
    font-weight: bold;
}
.textContainer a:hover {
    cursor: pointer;
}

.iconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.backArrowIcon{
    cursor: pointer;
}