.cards {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left:20px;
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: #13B58C;
}

.cards::-webkit-scrollbar-track {
    background: #ccc;
}


@media (min-width: 500px) {

}

@media (min-width: 700px) {

}

@media (min-width: 1100px) {

}
